body {
  font-family: Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans",
    source-sans-pro, sans-serif;
  font-weight: 700;
  background-image: url("/assets/bg2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  display: block;
  overflow-x: hidden;
}
header {
  background: linear-gradient(to bottom, #ffffff00, #f6f6f600);
  color: #fff;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99999;
}

.logo img {
  width: 150px;
  padding: 5px;
}

nav ul {
  list-style-type: none;
  margin-right: 10px;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}
#hm-btn img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
#back-btn img {
  width: 40px;
  cursor: pointer;
}

.main-section {
  display: flex;
  margin: 100px 10px;
  justify-content: center;
  align-items: center;
}

form {
  background: #ffffffe8;
  padding: 30px;
  border-radius: 2px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.525);
  width: 400px;
}
#transfer-form {
  z-index: 2;
}
.f-t {
  margin-left: 26%;
}
.t-p {
  margin-left: 13%;
}
input {
  margin-bottom: 10px;
  width: 90%;
  padding: 12px;
  height: 10px;
  border-radius: 2px;
  border: 2px solid #e1e1e1d3;
}
#converted-amount {
  background: #fff;
  width: 90%;
  padding: 15px;
  height: 10px;
  border-radius: 2px;
  border: 2px solid #e1e1e1d3;
}
select {
  margin-bottom: 10px;
  width: 95%;
  padding: 12px;
  border-radius: 2px;
}

#message {
  height: 30px;
}
.check-out {
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  border: none;
  color: white;
  font-weight: 700;
  background-color: #050025;
  padding: 8px;
  border-radius: 8px;
  transition: ease-in-out 0.4s;
}
button:hover {
  color: #050025;
  background: linear-gradient(to bottom, #c9d400, #dacb00);
}

#checkout {
  font-size: 16px;
  margin-bottom: 10px;
  width: 100px;
  padding: 10px;
  background: linear-gradient(to bottom, #0e0d0d, #050025);
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: ease-in-out 0.4s;
}
#checkout:hover {
  color: #050025;
  background: linear-gradient(to bottom, #dfeb00, #e7d701);
}

/* Styles for the modal */
.modal {
  color: rgb(3, 0, 15);
  display: none;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #00000062;
}

.modal-content {
  background-color: #ffffffe8;
  margin: 10% auto;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 530px;
  border-radius: 2px;
  justify-content: space-between;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeButton {
  width: 80px;
  background-color: #92025b;
  color: white;
  border: none;
  padding: 8px 15px;
  margin: 8px;
  cursor: pointer;
  float: left;
}

.copy-f {
  font-size: 12px;
  width: 100%;
  display: flex;
  background-color: aliceblue;
  margin-top: 15px;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
}
.copy-r {
  padding: 0 10px;
}

/* the payment form */
.popup {
  color: #283e2bd6;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 25, 0.6);
  z-index: 999;
  justify-content: space-between;
}

.popup-pay {
  background-color: #ffffffe8;
  border-radius: 2px;
  width: 380px;
  height: 250px;
  margin: 150px auto;
  padding: 1px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.payment-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.payment-options button {
  background-color: #274294;
  border: none;
  cursor: pointer;
}

.payment-options .active {
  background-color: #0c1a45;
  font-weight: bold;
}
#card-button,
#cash-button {
  width: 100%;
  border-radius: 1px;
  padding: 15px;
  padding: 10px;
}

.payment-details {
  height: 120px;
  padding: 20px;
}

.payment-details .hidden {
  display: none;
}

.payment-info {
  text-align: left;
}
.zelle {
  position: relative;
  width: 80px;
  float: right;
}

#close-button {
  width: 80px;
  background-color: #92025b;
  color: white;
  border: none;
  padding: 8px 15px;
  margin: 8px;
  cursor: pointer;
  float: left;
}
#confirmButton,
#confirm-button {
  width: 80px;
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 15px;
  margin: 8px;
  cursor: pointer;
  float: right;
}
/* end of payment form */

/* admin area */
.admin-main-section {
  margin: 20px;
  padding: 20px;
  display: block;
  overflow-x: hidden;
}
#rate-form {
  width: 250px;
}
.rates-table {
  margin: 20px;
  padding: 20px;
  display: block;
  background: rgb(0, 195, 189);
  background: linear-gradient(95deg, #00c3bdf1 35%, #fff800d6 100%);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 300px;
}
.rates-table th {
  padding: 10px;
  background-color: #ab02c5de;
  border-radius: 8px;
  margin-right: 5px;
  width: 150px;
}

tbody td {
  background-color: aliceblue;
  padding: 2px 10px;
  border-radius: 3px;
}
.logout-btn {
  list-style-type: none;
  margin: 150px;
  width: 250px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

/* login event */
.popup-login {
  display: none;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000000cf;
  justify-content: center;
}
.popup-content {
  margin: 10% auto;
  padding: 20px;
  width: 80%;
  height: 80%;
  border-radius: 8px;
  justify-content: space-between;
}
.popup-content form {
  width: 80%;
}
.popup-content h2 {
  color: #fff;
}
.close {
  color: #fff;
  cursor: pointer;
}
.login-btn {
  list-style: none;
  width: 35px;
  background-color: #ffffff03;
  padding: 0 10px;
  margin: 5px;
  border: none;
  align-items: center;
  justify-content: center;
}
.login-btn:hover {
  list-style: none;
}
.login-btn img {
  width: 25px;
}
.logout-btn {
  font-size: 25px;
  list-style: none;
  width: 100px;
  background: linear-gradient(180deg, #c30027f1 35%, #ff0080d6 100%);
  padding: 1 10px;
  justify-content: space-between;
}
.logout-btn img {
  padding: 5px;
  width: 30px;
}

/* Waves Apply styles to make the container unmovable and click-through */
.lottie-container {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 50px;
  width: 100%;
  height: 88%;
  z-index: 1; /* Optional: Adjust the z-index as needed */
  animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Allow pointer events on the lottie-player element */
lottie-player {
  pointer-events: auto;
}

@media (max-width: 500px) {
  header {
    padding: 0 15px;
  }
  body {
    background-image: url("/assets/bg-m.jpg");
  }
  .logo img {
    width: 100px;
    padding: 5px;
  }

  .main-section {
    margin: 70px 10px;
  }
  form {
    margin: 15px;
    padding: 20px;
    width: 100%;
  }

  .modal-content {
    width: 300px;
  }
  .popup-pay {
    background-color: #ffffffe8;
    border-radius: 2px;
    width: 300px;
    height: 250px;
    margin: 150px auto;
    padding: 1px;
  }

  .t-p {
    margin-left: 7%;
  }

  .copy-f {
    font-size: 10px;
  }
  .lottie-container {
    width: 900px;
    height: 400px;
  }
}
